:80 {
    # Auth Service
    handle_path /auth/* {
        reverse_proxy auth-service:3000
    }

    # Digital Twin service
    handle_path /twin/* {
        reverse_proxy twin-service:3000
    }

    # Mongo Express - Auth DB 
    handle /auth-db-gui/* {
        reverse_proxy auth-db-express:8081
    }

    # Mongo Express - Twin DB
    handle /twin-db-gui/* {
        reverse_proxy twin-db-express:8081
    }
}