services:
    mongodb:
        image: mongo:latest
        container_name: mongodb
        ports:
            - "27017:27017"
        volumes:
            - mongo-data:/data/db

    server:
        build: ./server
        container_name: express
        ports:
            - "3000:3000"
        environment:
            - MONGO_URI=mongodb://mongodb:${MONGO_PORT}/visiondb
        depends_on:
            - mongodb
        healthcheck:
          test: [ "CMD", "curl", "-f", "http://${DEV_URL}:${SERVER_PORT}/health" ]
          interval: 60s
          timeout: 10s
          retries: 3

    client:
        build: ./client
        container_name: vue
        ports:
            - "${CLIENT_PORT}:8080"
        environment:
          - PORT=${CLIENT_PORT}
        depends_on:
            - server

volumes:
    mongo-data: