services:
  # ==========================================
  # GATEWAY
  # ==========================================
  gateway:
    image: caddy:latest
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - gateway-net
    depends_on:
      - auth-service
      - twin-service

  # ==========================================
  # AUTH SERVICE
  # ==========================================
  auth-service:
    build: ./server/auth-service
    networks:
      - gateway-net
      - auth-net
    environment:
      - MONGO_URI=mongodb://auth-db:27017/authdb

  auth-db:
    image: mongo:latest
    networks:
      - auth-net
    volumes:
      - auth-data:/data/db

  # ==========================================
  # DIGITAL TWIN SERVICE
  # ==========================================
  twin-service:
    build: ./server/twin-service
    networks:
      - gateway-net
      - twin-net
    environment:
      - MONGO_URI=mongodb://twin-db:27017/twindb

  twin-db:
    image: mongo:latest
    networks:
      - twin-net
    volumes:
      - twin-data:/data/db

  # ==========================================
  # SIMULATOR SERVICE SERVICE
  # ==========================================
  simulator-service:
    build: ./server/sensor-simulator
    networks:
      - gateway-net
      - twin-net

  # ==========================================
  # CLIENT
  # ==========================================
  client:
    container_name: vue-client
    build:
        context: ./client
        args:
            VITE_SERVER_URL: ${DEV_URL}:${SERVER_PORT}
    ports:
        - "${CLIENT_PORT}:8080"
    environment:
        - PORT=${CLIENT_PORT}
    networks:
        - gateway-net
    depends_on:
        - auth-service
        - gateway

networks:
  gateway-net:
  auth-net:
  twin-net:

volumes:
  caddy_data:
  caddy_config:
  auth-data:
  twin-data: