services:
  # ==========================================
  # GATEWAY
  # ==========================================
  gateway:
    image: caddy:latest
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - gateway-net
    depends_on:
      - auth-service
      - twin-service
      - simulator-service
      - sensor-service

  # ==========================================
  # AUTH SERVICE
  # ==========================================
  auth-service:
    build: ./server/auth-service
    networks:
      - gateway-net
      - auth-net
    environment:
      - MONGO_URI=mongodb://auth-db:27017/authdb

  auth-db:
    image: mongo:latest
    networks:
      - auth-net
    volumes:
      - auth-data:/data/db

  auth-db-express:
    image: mongo-express
    profiles: ["dev"]
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://auth-db:27017/
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
      - ME_CONFIG_SITE_BASEURL=/auth-db-gui/
    networks:
      - gateway-net
      - auth-net
    depends_on:
      - auth-db

  # ==========================================
  # DIGITAL TWIN SERVICE
  # ==========================================
  twin-service:
    build: ./server/twin-service
    networks:
      - gateway-net
      - twin-net
    environment:
      - MONGO_URI=mongodb://twin-db:27017/twindb

  twin-db:
    image: mongo:latest
    networks:
      - twin-net
    volumes:
      - twin-data:/data/db
  
  twin-db-express:
    image: mongo-express
    profiles: ["dev"]
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://twin-db:27017/
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
      - ME_CONFIG_SITE_BASEURL=/twin-db-gui/
    networks:
      - gateway-net
      - twin-net
    depends_on:
      - twin-db

  # ==========================================
  # SIMULATOR SERVICE SERVICE
  # ==========================================
  simulator-service:
    build: ./server/sensor-simulator
    networks:
      - gateway-net
      - simulator-net


  # ==========================================
  # SENSOR SERVICE
  # ==========================================
  sensor-service:
    build: ./server/sensor-service
    networks:
      - gateway-net
      - sensor-net
    environment:
      - MONGO_URI=mongodb://sensor-db:27017/sensordb

  sensor-db:
    image: mongo:latest
    networks:
      - sensor-net
    volumes:
      - sensor-data:/data/db

  sensor-db-express:
    image: mongo-express
    profiles: ["dev"]
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://sensor-db:27017/
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
      - ME_CONFIG_SITE_BASEURL=/sensor-db-gui/
    networks:
      - gateway-net
      - sensor-net
    depends_on:
      - sensor-db

  # ==========================================
  # CLIENT
  # ==========================================
  client:
    container_name: vue-client
    build:
        context: ./client
        args:
            VITE_SERVER_URL: ${DEV_URL}:${SERVER_PORT}
    ports:
        - "${CLIENT_PORT}:8080"
    environment:
        - PORT=${CLIENT_PORT}
    networks:
        - gateway-net
    depends_on:
        - auth-service
        - gateway

networks:
  gateway-net:
  auth-net:
  twin-net:
  simulator-net:
  sensor-net:
volumes:
  caddy_data:
  caddy_config:
  auth-data:
  twin-data:
  sensor-data: