services:
  # ==========================================
  # GATEWAY
  # ==========================================
  gateway:
    image: caddy:latest
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - gateway-net
    depends_on:
      - auth-service
      - twin-service
      - socket-server

  # ==========================================
  # MESSAGE BROKER
  # ==========================================
  redis:
    image: redis:alpine
    container_name: crowd-vision-broker
    ports:
      - "6379:6379"
    networks:
      - gateway-net

  # ==========================================
  # GATEWAY SERVICE
  # ==========================================
  socket-server:
    build: ./server/socket-service
    container_name: crowd-vision-socket
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    networks:
      - gateway-net

  # ==========================================
  # AUTH SERVICE
  # ==========================================
  auth-service:
    build: ./server/auth-service
    networks:
      - gateway-net
      - auth-net
    environment:
      - MONGO_URI=mongodb://auth-db:27017/authdb

  auth-db:
    image: mongo:latest
    networks:
      - auth-net
    volumes:
      - auth-data:/data/db

  # ==========================================
  # DIGITAL TWIN SERVICE
  # ==========================================
  twin-service:
    build: ./server/twin-service
    networks:
      - gateway-net
      - twin-net
    environment:
      - MONGO_URI=mongodb://twin-db:27017/twindb

  twin-db:
    image: mongo:latest
    networks:
      - twin-net
    volumes:
      - twin-data:/data/db

  # ==========================================
  # NOTIFICATION SERVICE
  # ==========================================
  notification-service:
    build: ./server/notification-service
    environment:
      - REDIS_URL=redis://redis:6379
      - MONGO_URI=mongodb://notification-db:27017/notificationdb
      - VAPID_PUBLIC_KEY=${VAPID_PUBLIC_KEY}
      - VAPID_PRIVATE_KEY=${VAPID_PRIVATE_KEY}
    depends_on:
      - redis
    networks:
      - gateway-net
      - notification-net

  notification-db:
    image: mongo:latest
    networks:
      - notification-net
    volumes:
      - notification-data:/data/db

  # ==========================================
  # CLIENT
  # ==========================================
  client:
    container_name: vue-client
    build:
        context: ./client
        args:
            VITE_SERVER_URL: ${DEV_URL}:${SERVER_PORT}
            VITE_VAPID_PUBLIC_KEY: ${VITE_VAPID_PUBLIC_KEY}
    ports:
        - "${CLIENT_PORT}:8080"
    environment:
        - PORT=${CLIENT_PORT}
    networks:
        - gateway-net
    depends_on:
        - auth-service
        - gateway


  # # LLMops
  # llm-service:
  #   build: ./llm-service
  #   environment:
  #     - MLFLOW_TRACKING_URI=http://mlflow:5000
  #     - MLFLOW_EXPERIMENT_ID=123456789
  #   depends_on:
  #     - mlflow
  #   networks:
  #     - llm-net

networks:
  gateway-net:
    driver: bridge
  auth-net:
  twin-net:
  notification-net:

volumes:
  caddy_data:
  caddy_config:
  auth-data:
  twin-data:
  notification-data: