site_name: CrowdVision

markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

theme:
  name: material
  palette:
    scheme: default
    primary: green
    accent: green

extra:
  generator: false

nav:
  - Home: index.md
  - Requirements: requirements.md
  - Design: design.md
  - Data models: data.md
  - Architecture: architecture.md
  - Future roadmap & Integrations: future.md
