name: Docker Build

on:
  pull_request:
    branches: ["master"]
    paths:
      - "docker-compose.yml"
      - "server/**"
      - "client/**"
      - ".github/workflows/docker.yml"

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Images
        env:
          DEV_URL: "http://localhost"
          SERVER_PORT: "80"
          CLIENT_PORT: "8080"
          MONGO_PORT: "27017"
          VITE_VAPID_PUBLIC_KEY: "dummy_key"
          VAPID_PUBLIC_KEY: "dummy_key"
          VAPID_PRIVATE_KEY: "dummy_key"
        run: docker compose build
